html,
body,
header,
#intro {
  height: 100%;
}

.navbar {
  background-color: #ffc107 !important; /* kuning */
}

.navbar .nav-link,
.navbar .navbar-brand,
.navbar .fa {
  color: #000 !important; /* teks hitam biar kontras */
}

.page-footer {
  background-color: #ffc107 !important;
  color: #fff !important;
}

.page-footer a {
  color: #fff !important;
  font-weight: 600;
}

#intro {
  background-image: url("../img/mipa untan.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#intro .mask {
  background-color: rgba(0, 0, 0, 0.6);
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(5px);
  border: none;
}
.dropdown-item {
  color: white !important;
}
.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.stats-box {
  background: white;
  border-radius: 8px;
}

.primary-color {
    background-color: #ffc107 !important; 
}

.primary-color h6,
.primary-color i {
    color: #ffffff !important; 
}


.stat-number {
  font-size: 60px;
  font-weight: 700;
  color: #ffb400; /* warna kuning */
}

.stat-text {
  font-size: 20px;
  color: #003366; /* biru tua */
  font-weight: 500;
}

.prodi-card {
  border-radius: 15px;
  transition: 0.3s ease;
}
.prodi-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.prodi-icon {
  font-size: 50px;
}

.page-footer .container-fluid {
    background-color: #ffc107 !important;
}


.top-nav-collapse {
  background-color: #24355c;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355c;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355c;
  }
}
